@import "elements.less";

@bg-color: #fffaef;
@dark-text: #222;
@semi-light-text: #555;
@light-text: #999;

html, body {
	height: 100%;
}

body {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 400;
	color: @dark-text;

	background-color: @bg-color;
}

#header {
	display: none;
}

.view-animate-container,
.view-animate,
.session-list-view,
.session-details-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.view-animate-container {
	overflow: hidden;
}

.session-date {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;

	font-family: "Merriweather Sans", sans-serif;
	font-weight: 800;
	font-size: 3em;

	color: @light-text;

	padding: 0.3em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.session-list {
	position: absolute;
	top: 1em;
	left: 0;
	right: 0;
	bottom: 15%;

	padding-right: 1em;

	overflow: hidden;

	.session {
		position: relative;
		box-sizing: border-box;
		margin-left: 24%;
		margin-bottom: 0.5em;

		overflow: hidden;

		border: 1px solid #777;
		.rounded(5px);
		padding: 0.5em;

		background-color: rgba(255, 250, 239, 0.8);

		h2 {
			height: 1em;
			margin-top: 0;
			margin-bottom: 0;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			font-family: "Josefin Slab", serif;
			font-weight: 600;
		}

		.time {
			position: absolute;
			top: 1em;
			right: 100%;
			left: -31.5%; // Don't ask (24%/76% = 32%)

			box-sizing: border-box;
			padding-right: 1em;

			text-align: right;
		}

		.preview {
			margin-top: 0.5em;

			.presenter {
				float: left;
				margin-right: 0.5em;
				line-height: 1.2em;

				color: @light-text;
				font-style: italic;
				font-size: 1em;

				&::after {
					content: "\2014"; // em dash
					margin-left: 0.5em;
				}
			}

			p {
				margin-top: 0;
				margin-bottom: 0;

				color: @semi-light-text;
				font-size: 1em;
				line-height: 1.2em;
			}
		}

	}
}

.session-details-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 1em;
	padding: 1em;
	border: 1px solid #777;
	.rounded(5px);

	.session-details {
		position: absolute;
		top: 1em;
		bottom: 2em;
		left: 1em;
		right: 1em;

		h2 {
			margin-top: 0;
			margin-bottom: 0.25em;
		}

		.presenter {
			color: @light-text;
			margin-bottom: 1em;
		}

		.time {
			font-weight: 800;
		}
	}

}
