@bg-color: #fffaef;
@dark-text: #222;
@semi-light-text: #555;
@light-text: #999;

html, body {
	height: 100%;
}

body {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 400;
	color: @dark-text;

	background-color: @bg-color;
}

#header {
	display: none;
}

.view-animate-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: hidden;
}

.session-date {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	font-family: "Merriweather Sans", sans-serif;
	font-weight: 800;
	font-size: 3em;

	color: @light-text;

	padding: 0.3em;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.session-list {
	position: absolute;
	top: 1em;
	left: 0;
	right: 0;
	bottom: 6em; 

	overflow: hidden;

	.session {
		position: relative;
		margin-left: 24%;
		margin-bottom: .5em;

		box-sizing: border-box;
		border: 1px solid #777;
		border-radius: 5px;
		padding: 0.5em;

		h2 {
			height: 1.5em;
			line-height: 1.5em;
			margin-top: 0;
			margin-bottom: 0;

			font-family: "Josefin Slab", serif;
			font-weight: 600;
		}

		.presenter {
			float: left;
			margin-right: 0.5em;

			color: @light-text;
			font-style: italic;
			font-size: 1em;
			line-height: 1.2em;

			&::after {
				content: "\2014"; // em dash
				margin-left: 0.5em;
			}
		}

		.time {
			position: absolute;
			top: 1em;
			right: 100%;
			left: -31.5%; // Don't ask (24%/76% = 32%)

			box-sizing: border-box;
			padding-right: 1em;

			text-align: right;
		}

		p {
			height: 3.6em;
			margin-top: 0;
			margin-bottom: 0;

			color: @semi-light-text;
			font-size: 1em;
			line-height: 1.2em;
		}

	}
}

.session-details {
	padding: 1em;
}
