<div class="session-list-view">
	<div class="session-date"></div>
	<div class="session-list" ng-swipe-up="prev()" ng-swipe-down="next()">

		<div class="session"
					ng-repeat="session in listView"
					ng-click="openSession(session)"
					ng-class="{ transparent: session.id == -1 }">

			<div class="session-container">
				<h2 ng-if="session.id >= 0">{{session.title}}</h2>
				<div class="preview" ng-if="session.id >= 0">
					<div class="presenter" bib-presenter-list="{{session.presenters}}"></div>
					<p>{{session.description}}</p>
				</div>
			</div>

			<div class="time" ng-if="session.id >= 0">{{session.timeslot | sessionTime }}</div>
			<div class="tags">
				<span class="registered" ng-if="session.registered">R</span>
			</div>

		</div>
	</div>
</div>
